.centered {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 600px;
    height:200px;
    margin: -100px 0 0 -300px;
}

.input-group {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: center;
}

.input-formula {
    width: 500px;
    height: 40px;
	font-size: 16px;
	padding-left: 8px;
	border: 1px solid #3775dd;
	background: #F6F6f6;
	border-radius: 8px;
}

.input-formula:focus {
    outline: none;
}

.supgroup-text {
    padding-top: 10px;
    margin-right: 10px;
    font-weight: 700;
}

.btn {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 15px 15px 0;
	outline: none;
	border: none;  
	border-radius: 4px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #3775dd;
	box-shadow: 0 2px #21487f;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
}
.btn:hover {
	background-color: #002fed;
}
.btn:active {
	background-color: #2f599e !important;
}
.btn:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.btn:disabled {
	background-color: #6c87b5;
	pointer-events: none;
}